<form class="card form-group">
  <h3 class="card__header">Sale Completion</h3>

  <div class="form-group__control">
    <label class="form-group__label cross" for="seller">Sellers Address</label>
    <input class="form-group__input" type="text" id="seller" />
  </div>
  <div class="form-group__control">
    <label class="form-group__label tick" for="presale">Presale Wallet</label>
    <input class="form-group__input" type="text" id="presale" />
  </div>
  <div class="form-group__control">
    <label class="form-group__label tick" for="walletToAdd"
      >Wallet To Add</label
    >
    <input class="form-group__input" type="text" id="walletToAdd" />
  </div>
  <button class="btn btn--primary" type="submit">Complete Sale</button>
</form>
