<div class="navbar-new navbar-new__expanded">
  <div class="navbar-new__filler-nav">
    <!-- // toggle expanded. -->
    <i id="navbar-new__opener" class="burger"></i>
    <div class="nav-filler__buttons">
      <button class="btn btn--secondary">Switch View</button>
      <button class="btn btn--primary">Logout</button>
    </div>
  </div>
  <div id="navbar-new__content">
    <div class="navbar-new__header">
      <div class="navbar__logo">
        <span>Escrow Dapp</span>
        <i class="logo"></i>
      </div>
    </div>

    <ul class="navbar-new__items">
      <li class="navbar-new__item">
        <a href="#" class="navbar__link">Home</a>
      </li>
      <li class="navbar-new__item">
        <a href="#" class="navbar__link">About</a>
      </li>
      <li class="navbar-new__item">
        <a href="#" class="navbar__link">Contact</a>
      </li>
      <li class="navbar-new__item mobile-hidden">
        <button class="btn btn--primary">Logout</button>
      </li>
      <li class="navbar-new__item mobile-hidden">
        <button class="btn btn--secondary">Switch View</button>
      </li>
    </ul>
    <!-- <div class="buttons-big-screen-nav">
        <button class="btn btn--secondary">Switch View</button>
        <button class="btn btn--primary">Logout</button>
      </div> -->
  </div>
</div>
