:root {
  --color-primary: #fc3aba;
  --color-accent: #f937b8;
  --color-secondary: #6c0355;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: #cd048ac4;
  color: #fff;
}

#walletAddress {
  word-break: break-all;
}

/* Typography */
html {
  font-size: 62.5%;
  font-family: Inconsolata, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body {
  font-size: 2.2rem;
  min-height: 100vh;
  overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1350px;
  }
}

/* Background */

body {
  background: linear-gradient(135deg, #151016, #141114);
  background-repeat: no-repeat;
  color: #fff;
}

/* Buttons */

.btn {
  border: 0;
  padding: 0.4rem 4rem;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  transition: all 250ms ease 0s;
}

.btn:enabled {
  cursor: pointer;
  background-position: left;
}

.btn--primary {
  background-image: linear-gradient(to right, #fe4bc6, #f30baa 40%);
  background-position: right;
  background-size: 300%;
}

.btn--primary:hover:enabled {
  box-shadow: rgb(255, 0, 199) 0px 0px 16px 0px;
}

.btn--secondary {
  background-image: linear-gradient(to right, #b3238f, #840163 50%);
  background-position: right;
  background-size: 300%;
}

.btn--secondary:hover:enabled {
  box-shadow: rgb(255, 0, 199) 0px 0px 16px 0px;
}

.btn--large {
  padding: 0.8rem 8rem;
  font-size: 2.4rem;
}

.connect-wallet {
  display: block;
  margin: 4rem auto 10rem;
  padding: 1rem 5rem;
  letter-spacing: 1px;
  font-size: 3rem;
}

@media screen and (min-width: 768px) {
  .connect-wallet {
    font-size: 2.5rem;
  }
}

/* .btn--primary:hover {
  background-image: linear-gradient(to right, #ff73d3 55%, #f71eb2);
}

.btn--secondary:hover {
  background-image: linear-gradient(to right, #7f0767, #a0087a 60%);
} */

/* Nav bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.3rem 0 7rem;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.251);
}
.navbar__items {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.1s ease-in-out;
  margin-top: 1rem;
}
.navbar__logo {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.navbar__item {
  margin: 0.3rem 0.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
}

.navbar__link {
  transition: color 0.2s ease;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__item:hover .navbar__link {
  color: rgba(255, 255, 255, 1);
}
.navbar--expanded .navbar__items {
  display: block;
  max-height: 100vh;
  opacity: 1;
}

.navbar__collapsible svg {
  rotate: 90deg;
  transition: rotate 0.2s ease-in-out;
}

.navbar--expanded .navbar__collapsible svg {
  rotate: 0deg;
}

.navbar__collapsible:hover {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .navbar__items {
    width: auto;
    opacity: 1;
    max-height: 100vh;
    margin-right: 2rem;
    margin-top: 0;
  }
  .navbar__collapsible {
    display: none;
  }

  .navbar__item {
    display: inline-block;
    border: none;
    margin-left: 3rem;
  }
}

.navbar-new__item:hover .navbar__link {
  color: rgba(255, 255, 255, 1);
}

#navbar-new__content {
  display: flex;
  flex-direction: column;
  background-color: #151016;
  /* border-bottom: 2px solid #fe4bc6; */
  position: fixed;
  top: 52px;
  left: 0;
  height: 100vh;
  z-index: 1;
  width: 0;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}

.navbar-new__items {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}

.navbar-new__item {
  padding: 2rem 1rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.088);
  letter-spacing: 1px;
  transition: background-color 0.2s ease-in-out;
}
.navbar-new__item .btn {
  padding: 0.5rem 2rem;
}
.navbar-new__item:hover {
  background-color: #00000045;
}

.navbar-new__expanded#navbar-new__content {
  width: max(45vw, 180px);
  opacity: 1;
  z-index: 1;
}

.navbar-new__filler-nav {
  display: flex;
  background-color: #151016;
  /* border-bottom: 2px solid #fe4bc6; */
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  padding: 0.5rem;
  z-index: 999;
}

.navbar-new__filler-nav .btn {
  padding: 0.5rem 2rem;
}

.mobile-hidden {
  display: none;
}

#navbar-new__close {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1;
}

.navbar-new__header {
  display: flex;
  margin-left: 20px;
}

.navbar-new__header {
  margin-top: 1rem;
}
.buttons-big-screen-nav {
  display: none;
  margin-left: auto;
  margin-right: 2rem;
}

.buttons-big-screen-nav .btn {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  margin: 1rem 1rem;
}

.nav-filler__buttons {
  display: flex;
  margin: 0.3rem 0;
}
.nav-filler__buttons .btn--secondary {
  margin-right: 1.2rem;
}
.nav-filler__buttons {
  font-size: 1.8rem;
  margin-right: 2rem;
}

@media screen and (max-width: 380px) {
}

@media screen and (min-width: 1050px) {
  .mobile-hidden {
    display: block;
    margin: 0 !important;
  }
  .buttons-big-screen-nav {
    display: flex;
  }

  #navbar-new__content {
    flex-direction: row;
    width: 100vw !important;
    height: auto;
    justify-content: space-between;
    transition: none;
    align-items: center;
    top: 0;
    padding: 0.5rem 2rem;
    position: fixed;
    z-index: 999;
  }

  .navbar-new__filler-nav {
    display: none;
  }

  #navbar-new__close {
    display: none;
  }

  #navbar-new__opener {
    display: none;
  }

  .navbar-new__items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    align-items: center;
  }

  .navbar-new__item {
    border: none;
    padding: 1rem;
  }
  .navbar-new__item:hover {
    background-color: transparent;
  }
  .navbar-new__header {
    margin-top: 0;
  }

  .navbar-new__items li {
    margin: 0 0.5rem;
  }
}

.logo::after {
  content: url(../images/logo.svg);
}
.logo {
  margin-left: 10px;
}

/* Grid */

.grid {
  display: grid;
  margin: 0 2rem;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-gap: 4rem;
  }
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* Card */

.card {
  background: #00000043;
  border-radius: 20px;
  padding: 2rem;
  border: 1px solid #ff5bca;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.211);
  margin-bottom: 3rem;
  max-width: 760px;
}

.card__action--info span {
  margin-top: 1rem;
  width: 100%;
}

.card__header {
  text-align: center;
  margin: 0 0 2rem;

  font-size: 3.5rem;
}

.card__text {
  display: flex;
  flex-direction: column;
}

.card__address {
  word-break: break-all;
}

.card__pair {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(255 255 255 / 29%);
  padding: 1rem;
  padding-bottom: 1rem;
}

.card__pair .btn {
  margin: 0 !important;
}

.card__pair .card__error {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

.card .btn {
  margin: 2rem 0;
}

.text-accent {
  color: var(--color-accent);
  font-size: 2.5rem;
}

.card__error {
  color: "#fff";
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .text-accent {
    color: var(--color-accent);
    font-size: 2.1rem;
  }
}

/* List Of X */
.table {
  margin: 8rem 3rem;
  font-size: 1.8rem;
  overflow: auto;
  background-color: #35353525;
  border-radius: 20px;
}

.table__header {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
  border-bottom: 2px solid #ff5bca;
}

.table__header-item {
  margin: 0 1rem;
  font-size: 2.5rem;
}

.table__row {
  list-style: none;

  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0;
}

.table__body-item {
  margin: 0 1rem;
  text-align: center;
}

.table__row .card {
  transition: all 0.2s ease-in-out;
  background-color: #4342421d;
  overflow: auto;
}

.table__row.action-hidden .card {
  overflow: hidden;
  max-height: 0;
  padding: 0;
  border: 0;
  opacity: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.row-action--expanded .card {
  margin-top: 2rem;
  max-height: 1000px;
  border: 0;
  opacity: 1;
}

.row-action--expanded .burger {
  rotate: 0deg;
  filter: brightness(1.1);
}

.table__row.row-action--expanded li {
  color: rgba(255, 255, 255, 1);
}

.table__row-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.table__body-item {
  transition: color 0.2s ease-in-out;
}

.table__row:hover .table__body-item {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.table__body-item:hover {
  cursor: pointer;
}

.table__body-item {
  width: 102px;
}

.burger {
  transition: rotate 0.2s ease-in-out;
  content: url("../images/burger.svg");
  rotate: 90deg;
  user-select: none;
  filter: brightness(0.8);
}

.burger.expanded {
  rotate: 0deg !important;
  filter: brightness(1.1);
}

.navbar-new.navbar-new__expanded .navbar-new__filler-nav .burger {
  rotate: 90deg;
  filter: brightness(1.1);
}

.burger:hover {
  cursor: pointer;
}

.table-address {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 650px) {
  .table .optional {
    display: none;
  }

  .table .card {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .table .card {
    margin: 3rem auto;
    overflow: hidden;
  }
  .table {
    margin: 10rem;
  }
}

@media screen and (min-width: 1024px) {
  .table .card {
    margin: 10rem auto;
  }

  .table {
    margin: 8rem 20rem;
  }

  .table__body-item {
    width: 100px;
  }
}

.tick::after {
  content: url("../images/tick.svg");
  position: relative;
  left: 9px;
  top: 1px;
}

.cross::after {
  content: url("../images/cross.svg");
  position: relative;
  left: 5px;
  top: 1px;
}

.action {
  display: flex;
}

/* Form Panels */

.form-group {
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: fit-content;
  padding: 3rem;
}

.form-group__label {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  display: block;
}

.form-group__input {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  background-color: #35353525;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  outline: none;
}

.form-group__control:first-of-type {
  margin-top: 3rem;
}

.form-group__control {
  margin-top: 1rem;
}

.form-group .btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.form-group .card__header {
  margin: 0 auto;
}

form.card {
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .form-group {
    max-width: 500px;
  }

  .form-group__input {
    width: 100%;
  }
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  margin-top: 2px;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  transform: scale(0);
  width: 0px;
  height: 0px;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-accent);
}

input[type="checkbox"]:checked::before {
  width: 16px;
  height: 16px;
  transform: scale(1);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Home page */

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 5rem;
  margin-top: 12rem;
}

.main-header-text {
  text-align: center;
  margin-bottom: 3rem;
}
.main-header-text h1 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 45px;
  font-size: 6.4rem;
}

.main-header-text span {
  font-weight: 800;
  font-size: 6.4rem;
  text-transform: uppercase;
}
.main-header-text h2 {
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 4rem;
  opacity: 0.8;
}

.main-container {
  margin: 0 auto;
  max-width: 1400px;
}

@media screen and (min-width: 2000px) {
  .main-container {
    max-width: 1900px;
  }
}

@media screen and (min-width: 450px) {
  section {
    padding-inline: 3rem;
  }
  .main-header-text {
    font-size: 7.4rem;
  }
}

.main-header {
  background: #151016;
  margin-bottom: 2rem;
  padding-top: 2rem;
  margin-top: 53px;
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .main-header {
    padding-top: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .main-header {
    padding-top: 8rem;
  }
}

.main-header-image {
  max-width: 610px;
}
.main-header-image img {
  width: 100%;
}

@media screen and (min-width: 450px) {
  .main-header-image img {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .main-header-image img {
    margin-top: 3rem;
  }
  .main-header-text {
    text-align: left;
  }
}

@media screen and (min-width: 1250px) {
  .main-header-text {
    margin-top: 5rem;
  }
}

.main-features {
  /* background: #5d515130;
  border-radius: 15px; */
  padding: 2rem;
}
.main-features h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 5rem;
}

.main-features-list {
  list-style: none;
  padding: 0;
}

.main-features-list-item {
  margin-bottom: 4rem;
}

.main-features-list-item h3 {
  font-size: 3rem;
  font-weight: 400;
}

.main-features-list-item p {
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
}
.main-howitworks h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 5rem;
}

.main-howitworks-list {
  list-style: none;
  padding: 0;
}

.main-howitworks-list-item {
  margin-bottom: 4rem;
}

.main-howitworks-list-item h3 {
  font-size: 3rem;
  font-weight: 300;
}

.main-howitworks-list-item p {
  font-weight: 300;
  font-size: 2rem;
  opacity: 0.8;
  margin: 0;
}

.main-howitworks {
  padding: 2rem;
  margin-top: 4rem;
}

.hero-grid {
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .hero-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

/* Footer */

/**
    <footer className="footer">
      <div className="footer__container">
        <div className="footer__logo">
          <span>Whitelist Vault</span>
          <i className="logo"></i>
        </div>
        <div className="footer__links">
          <ul className="footer__list">
            <li className="footer__item">
              <a href="#" className="footer__link">
                About
              </a>
            </li>
            <li className="footer__item">
              <a href="#" className="footer__link">
                Contact
              </a>
            </li>
            <li className="footer__item">
              <a href="#" className="footer__link">
                Terms
              </a>
            </li>
            <li className="footer__item">
              <a href="#" className="footer__link">
                Privacy
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>


*/

.footer {
  padding: 0.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 4rem;
  border-top: 1px solid #ffffff23;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer__logo i {
  margin-left: 1rem;
  font-size: 2.4rem;
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item {
  margin-right: 2rem;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
}

/* For footer alignment purposes */
.content {
  flex-grow: 1;
}
